{% extends "base.html" %}

{% block title %}Home | Brooks{% endblock %}

{% block content %}

<style>
    body {
        background: #0f172a;
        color: white;
        font-family: Arial;
        margin-top: 120px;
        height: 100vh;
    }

    .box {
        max-width: 600px;
        text-align: center;

    }

    h1 {
        font-size: 48px;
        color: #38bdf8;
    }

    p {
        opacity: 0.8
    }
</style>

<div class="box">
    <h1>🚧 Work In Progress in About Page</h1>
    <p>Website is currently under development.<br>
        Please visit again soon.</p>
</div>

{% endblock %}